$brand-primary: #333333;
$brand-secondary: #8892BF;


$primary: $brand-primary;
$secondary: $brand-secondary;

$font-size-base: 1rem !default;
$font-family: 'Source Sans Pro';
$font-family-monospace: 'Source Code Pro', monospace;
$special-highlight: #ffb500;
$footer-secondary-color: #bb00796b;
