@import "variables";
@import "bootstrap_custom";
@import "footer";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900');

// Spacial monospace

header.navbar, .title p {
  @extend .text-monospace;
}

header.navbar {
  .navbar-nav .active > .nav-link {
    color:$special-highlight;
  }
}

.home{
    .carousel{
        background: url(/assets/img/workshop-29-mai-2019.jpg) no-repeat center center transparent;
        background-size:cover;
        width: 100%;
        h1{
            text-align: center;
            margin-top: 80px;
            margin-bottom: 80px;
            color: #ffffff;
            font-weight: 900;
        }
    }
}

.title {
  position: relative;
  background: url(/assets/img/background-post.jpg) center;
  background-size: cover;
  color: white;
  margin-bottom: 2em;
  overflow: hidden;

  h1 {
    margin: 1em 0;
    font-weight: 900;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content:'';
    background: #343a40;
    opacity: 0.7;
  }

  .container {
    position: relative;
  }

  .post-info {
    background: $footer-secondary-color;
    color: $special-highlight;
    overflow: hidden;
    padding: 1em;

    p {
      margin:0;
    }
  }
}

.container-small {
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
}

.presentation-text {
  background: #ffffff;
  box-shadow: 0 0 15px #00000012;
  margin-top: -2em;
  margin-bottom: 2em;
  position: relative;
  z-index: 999999;
}